/* Header */

/* End Header */

/* Main Content */
h2 {
    margin-bottom: 30px;
}
h3 {
    padding-top: 5px;
}
.content {
    padding: 0 7px 0;
    background-color: #91c3f1;
    height: 1000px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .content {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}